Pandemate/defaults/flow.json
[{"id":"4f2b4d05.6b0244","type":"tab","label":"Basic actions","disabled":false,"info":""},{"id":"e65ebcb1.788e8","type":"tab","label":"Pandemate Chatbot","disabled":false,"info":""},{"id":"1fe6e277.3b49fe","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d16eb101.8fdc3","type":"ui_group","z":"","name":"Record","tab":"f5545f74.ad519","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5545f74.ad519","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9e3b3fca.a4528","type":"ui_group","z":"","name":"Default","tab":"f6562168.0547f","order":1,"disp":true,"width":"6","collapse":false},{"id":"db90f348.0f076","type":"ui_group","z":"","name":"Default","tab":"867bc4c.3a89a38","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6562168.0547f","type":"ui_tab","z":"","name":"Micro","icon":"dashboard","disabled":false,"hidden":false},{"id":"867bc4c.3a89a38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"899d1777.fcd438","type":"ui_group","z":"","name":"Default","tab":"dd0d02e.ac3ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"9290ccc7.c9b68","type":"ui_group","z":"","name":"Default","tab":"c68afeb3.ced0f","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd0d02e.ac3ba","type":"ui_tab","z":"","name":"Micro","icon":"dashboard","disabled":false,"hidden":false},{"id":"c68afeb3.ced0f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"29da6d91.e6c192","type":"covapikey","z":"","name":""},{"id":"4574104d.a1ea8","type":"watson-conversation-v1","z":"4f2b4d05.6b0244","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":520,"y":460,"wires":[["f5b3f3cb.c815f"]]},{"id":"4e3cee6c.4dd7e","type":"watson-text-to-speech","z":"4f2b4d05.6b0244","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":760,"y":280,"wires":[["e5775656.e82288"]]},{"id":"e5775656.e82288","type":"function","z":"4f2b4d05.6b0244","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[["a30dedd3.96295"]]},{"id":"dad90baa.ada328","type":"watson-conversation-v1","z":"4f2b4d05.6b0244","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":495.33331298828125,"y":1545.7500295639038,"wires":[["37cf79fa.b832c6"]]},{"id":"6e049c3c.ae0c44","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":86.33331298828125,"y":1463.7500295639038,"wires":[["654bf18c.f78d9"]]},{"id":"cd6150f3.abd8d","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":86.83331298828125,"y":1500.7500295639038,"wires":[["654bf18c.f78d9"]]},{"id":"654bf18c.f78d9","type":"function","z":"4f2b4d05.6b0244","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":257.83331298828125,"y":1499.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"81cfe654.485658","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.33331298828125,"y":1584.7500295639038,"wires":[["dfab5496.11b7b8"]]},{"id":"149c49e1.1bbc66","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.83331298828125,"y":1620.7500295639038,"wires":[["dfab5496.11b7b8"]]},{"id":"dfab5496.11b7b8","type":"function","z":"4f2b4d05.6b0244","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":256.83331298828125,"y":1619.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"37cf79fa.b832c6","type":"debug","z":"4f2b4d05.6b0244","name":"","active":true,"console":"false","complete":"payload.output.text","x":714.3333129882812,"y":1545.7500295639038,"wires":[]},{"id":"f08a1231.ec0cb","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":262.33331298828125,"y":1366.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"3f6815f1.1ad32a","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":262.33331298828125,"y":1402.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"ae3b9f.9809046","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.83331298828125,"y":1714.7500295639038,"wires":[["fd7dd385.7a464"]]},{"id":"fd7dd385.7a464","type":"function","z":"4f2b4d05.6b0244","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":278.83331298828125,"y":1714.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"d8ec664a.a6f498","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":86.83331298828125,"y":1536.7500295639038,"wires":[["654bf18c.f78d9"]]},{"id":"a213f50f.629078","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":85.33331298828125,"y":1656.7500295639038,"wires":[["dfab5496.11b7b8"]]},{"id":"3afdf680.c9b32a","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":262.33331298828125,"y":1438.7500295639038,"wires":[["dad90baa.ada328"]]},{"id":"cbad37b5.3e60c8","type":"function","z":"4f2b4d05.6b0244","name":"set payload","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":1,"noerr":0,"x":590.9999980926514,"y":168.58327960968018,"wires":[["4e3cee6c.4dd7e"]]},{"id":"38db224a.3eba8e","type":"link in","z":"4f2b4d05.6b0244","name":"convIn","links":["6249d7e8.f7f6d8","c16728cf.ca5da8","c7d47c64.a3b87"],"x":395,"y":520,"wires":[["4574104d.a1ea8"]]},{"id":"d0a42e4a.43111","type":"comment","z":"4f2b4d05.6b0244","name":"config","info":"","x":44.40262985229492,"y":40.50693607330322,"wires":[]},{"id":"51e8f56b.6b6f0c","type":"comment","z":"4f2b4d05.6b0244","name":"conversations call and output","info":"","x":520.976921081543,"y":386.8681287765503,"wires":[]},{"id":"3e86c9b9.5172a6","type":"watson-speech-to-text","z":"4f2b4d05.6b0244","name":"","lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"","x":109.25,"y":304.3333568572998,"wires":[["802d13e1.adebe"]]},{"id":"802d13e1.adebe","type":"function","z":"4f2b4d05.6b0244","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":273.25,"y":304.3333492279053,"wires":[["d7cdd120.c2da2"]]},{"id":"5d0b1dd2.e86374","type":"inject","z":"4f2b4d05.6b0244","name":"","topic":"","payload":"reset context","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":91.24999618530273,"y":80.75003337860107,"wires":[["9d05ae9e.18b38"]]},{"id":"9d05ae9e.18b38","type":"function","z":"4f2b4d05.6b0244","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":263.24999618530273,"y":80.7500410079956,"wires":[["6249d7e8.f7f6d8"]]},{"id":"d7cdd120.c2da2","type":"link out","z":"4f2b4d05.6b0244","name":"gototone","links":["4ea3303.5ce80d","2c464ba4.932e94"],"x":379.8030433654785,"y":350.5833616256714,"wires":[]},{"id":"6249d7e8.f7f6d8","type":"link out","z":"4f2b4d05.6b0244","name":"adminout","links":["38db224a.3eba8e"],"x":395,"y":80,"wires":[]},{"id":"4faa27fb.3f6408","type":"comment","z":"4f2b4d05.6b0244","name":"speech in","info":"","x":54.72688293457031,"y":220.6181297302246,"wires":[]},{"id":"35ec2f98.85af1","type":"debug","z":"e65ebcb1.788e8","name":"","active":true,"console":"false","complete":"false","x":1010,"y":320,"wires":[]},{"id":"4c6838e4.7b03a8","type":"switch","z":"e65ebcb1.788e8","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[["1a0690cb.b601af"],["90aead44.f7446"]]},{"id":"a050bdb4.08db6","type":"comment","z":"e65ebcb1.788e8","name":"Reply to the user","info":"","x":1220,"y":340,"wires":[]},{"id":"f5d41e33.e4068","type":"change","z":"e65ebcb1.788e8","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["19e971d3.b8eb7e","c16728cf.ca5da8"]]},{"id":"41b06e29.281e3","type":"watson-text-to-speech","z":"e65ebcb1.788e8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"9410Vsp@","apikey":"2JeglFHDJSVo3-_yqykH4ftoyYIt9_4VOcKqbtwEtIrS","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/cbf1f6ee-a3ce-4e61-8414-f5034975ccf2","x":1020,"y":380,"wires":[["ef62fca0.781c1"]]},{"id":"735d238e.feb63c","type":"debug","z":"e65ebcb1.788e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"transcription","targetType":"msg","x":530,"y":40,"wires":[]},{"id":"90aead44.f7446","type":"function","z":"e65ebcb1.788e8","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["35ec2f98.85af1","19e971d3.b8eb7e","41b06e29.281e3"]]},{"id":"b516eec4.57d7b","type":"debug","z":"e65ebcb1.788e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1150,"y":100,"wires":[]},{"id":"55fa3f4f.4ff53","type":"debug","z":"e65ebcb1.788e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":480,"wires":[]},{"id":"a57a5c8b.88806","type":"watson-speech-to-text","z":"e65ebcb1.788e8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"9410Vsp@","apikey":"knjIWZ4lAKVKlqjgLXm92P5R6mthEjOerZZSJFQtlvuy","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/f6d1dfcd-4bc2-431e-b920-f0658fad45da","x":300,"y":100,"wires":[["735d238e.feb63c","f5d41e33.e4068"]]},{"id":"19e971d3.b8eb7e","type":"function","z":"e65ebcb1.788e8","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["d95a66c5.9190a8","636e8fc0.988ac"]]},{"id":"636e8fc0.988ac","type":"debug","z":"e65ebcb1.788e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"b3f40993.33a138","type":"inject","z":"e65ebcb1.788e8","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["fbaf4a56.6f98e8"]]},{"id":"fbaf4a56.6f98e8","type":"change","z":"e65ebcb1.788e8","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":217,"wires":[["19e971d3.b8eb7e"]]},{"id":"a34fd5d6.861428","type":"function","z":"e65ebcb1.788e8","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":110,"y":360,"wires":[["4c6838e4.7b03a8"],["41b06e29.281e3"]]},{"id":"fd60e94b.035438","type":"inject","z":"e65ebcb1.788e8","name":"Hourly updates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"x":240,"y":660,"wires":[["f00e434.95369c"]]},{"id":"e67f8b70.bab1f8","type":"trigger","z":"e65ebcb1.788e8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":260,"y":580,"wires":[["f00e434.95369c"]]},{"id":"f0ad7fd7.73733","type":"comment","z":"e65ebcb1.788e8","name":"Refresh the dashboard","info":"","x":220,"y":620,"wires":[]},{"id":"57c47f51.7b724","type":"function","z":"e65ebcb1.788e8","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = totalConfirmedCase;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["bc0db97d.fd5488","55fa3f4f.4ff53"]]},{"id":"ec1fbd69.c9f53","type":"function","z":"e65ebcb1.788e8","name":"Total Fatalities","func":"let totalFatalities = 0;\n\nmsg.payload.covid19.deaths.map(function(line){\n    totalFatalities += line;\n});\n\nmsg.payload = totalFatalities;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":580,"wires":[["1e30049b.a0a1ab"]]},{"id":"e11442b5.bea67","type":"function","z":"e65ebcb1.788e8","name":"Total Confirmed Countries","func":"let totalCtryConfirmed = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    if( line !== null ) {\n      totalCtryConfirmed += 1;\n    }\n});\n\nmsg.payload = totalCtryConfirmed;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["a5df4a10.1f6e98"]]},{"id":"37377e75.41d6a2","type":"debug","z":"e65ebcb1.788e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":700,"wires":[]},{"id":"4859d53d.acabec","type":"ui_microphone","z":"e65ebcb1.788e8","group":"9e3b3fca.a4528","order":5,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":90,"y":100,"wires":[["a57a5c8b.88806"]]},{"id":"b0190fc4.dcad2","type":"function","z":"e65ebcb1.788e8","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":420,"wires":[["41b06e29.281e3","52e2e918.4b38c8","19e971d3.b8eb7e"]]},{"id":"69348786.ed66c8","type":"comment","z":"e65ebcb1.788e8","name":"node-red-contrib-twc-covid19-tracker","info":"","x":500,"y":580,"wires":[]},{"id":"52e2e918.4b38c8","type":"debug","z":"e65ebcb1.788e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"edb3f5ac.dd5988","type":"ui_button","z":"e65ebcb1.788e8","name":"","group":"db90f348.0f076","order":6,"width":6,"height":1,"passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["fbaf4a56.6f98e8"]]},{"id":"ef62fca0.781c1","type":"ui_audio","z":"e65ebcb1.788e8","name":"","group":"db90f348.0f076","voice":"","always":"","x":1200,"y":380,"wires":[]},{"id":"bc0db97d.fd5488","type":"ui_gauge","z":"e65ebcb1.788e8","name":"","group":"db90f348.0f076","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"4000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1040,"y":520,"wires":[]},{"id":"1e30049b.a0a1ab","type":"ui_gauge","z":"e65ebcb1.788e8","name":"","group":"db90f348.0f076","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1010,"y":580,"wires":[]},{"id":"a5df4a10.1f6e98","type":"ui_gauge","z":"e65ebcb1.788e8","name":"","group":"db90f348.0f076","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1020,"y":640,"wires":[]},{"id":"d95a66c5.9190a8","type":"ui_template","z":"e65ebcb1.788e8","group":"db90f348.0f076","name":"Chat History","order":1,"width":"0","height":"0","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"3e4c6286.54940e","type":"ui_ui_control","z":"e65ebcb1.788e8","name":"","events":"change","x":100,"y":580,"wires":[["e67f8b70.bab1f8"]]},{"id":"7dffcf36.55721","type":"inject","z":"e65ebcb1.788e8","name":"","topic":"","payload":"Help","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":40,"wires":[["c16728cf.ca5da8"]]},{"id":"ad1edb4d.89e728","type":"ui_microphone","z":"4f2b4d05.6b0244","order":0,"width":0,"height":0,"name":"","maxLength":5,"timeslice":0,"x":60,"y":260,"wires":[["3e86c9b9.5172a6"]]},{"id":"f00e434.95369c","type":"twc-covid19-country-report","z":"e65ebcb1.788e8","name":"","apikey":"29da6d91.e6c192","x":490,"y":620,"wires":[["57c47f51.7b724","ec1fbd69.c9f53","37377e75.41d6a2","e11442b5.bea67"]]},{"id":"1a0690cb.b601af","type":"twc-covid19-country-report","z":"e65ebcb1.788e8","name":"","apikey":"29da6d91.e6c192","x":490,"y":420,"wires":[["b0190fc4.dcad2"]]},{"id":"4280a202.dccd6c","type":"link in","z":"e65ebcb1.788e8","name":"","links":["c16728cf.ca5da8","f5b3f3cb.c815f"],"x":975,"y":100,"wires":[["b516eec4.57d7b","a34fd5d6.861428"]]},{"id":"c16728cf.ca5da8","type":"link out","z":"e65ebcb1.788e8","name":"","links":["38db224a.3eba8e","4280a202.dccd6c"],"x":895,"y":100,"wires":[]},{"id":"5c200d38.491ef4","type":"link in","z":"4f2b4d05.6b0244","name":"","links":["f5b3f3cb.c815f"],"x":555.9999980926514,"y":48.583279609680176,"wires":[["cbad37b5.3e60c8"]]},{"id":"f5b3f3cb.c815f","type":"link out","z":"4f2b4d05.6b0244","name":"","links":["5c200d38.491ef4","4280a202.dccd6c"],"x":535,"y":320,"wires":[]},{"id":"a30dedd3.96295","type":"ui_audio","z":"4f2b4d05.6b0244","name":"","voice":"","always":"","x":920,"y":60,"wires":[]}]